name: docs

on:
  push:
  workflow_dispatch:

jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/checkout@v5
      - name: Generate Verilog from DSLX
        uses: ./.github/actions/xls-action
        with:
          xls-version: v0.0.0-8961-gf509bf088
          dslx-path: src/bytebeat.x
          dslx-top: bytebeat
          ir-path: src/bytebeat.ir
          opt-ir-path: src/bytebeat.opt.ir
          verilog-path: src/bytebeat.v
          verilog-module-name: bytebeat
          verilog-reset-signal-name: reset
          use-system-verilog: false
          clock-period-ps: 125000000
          delay-model: unit

      - uses: actions/checkout@v5
      - name: Generate Verilog for bytebeat_sierpinskiharmony
        uses: ./.github/actions/xls-action
        with:
          xls-version: v0.0.0-8961-gf509bf088
          dslx-path: src/bytebeat_sierpinskiharmony.x
          dslx-top: bytebeat_sierpinskiharmony
          ir-path: src/bytebeat_sierpinskiharmony.ir
          opt-ir-path: src/bytebeat_sierpinskiharmony.opt.ir
          verilog-path: src/bytebeat_sierpinskiharmony.v
          verilog-module-name: bytebeat_sierpinskiharmony
          verilog-reset-signal-name: reset
          use-system-verilog: false
          clock-period-ps: 488281
          delay-model: sky130

      - name: Build docs
        uses: TinyTapeout/tt-gds-action/docs@ttsky25b
